@import "font.css";
@import "status.css";
@import "scrollbar.css";
@import "sidebarServers.css";
@import "sidebarChannels.css";
@import "mobile.css";
@import "main-content.css";
@import "variables.css";

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;

	background-color: #282a2e;

	font-size: 16px;

	display: flex;

	overflow: hidden;
}

main {
	flex-grow: 1;
	height: 100vh;
	background-color: var(--color-main);
}

