@import "font.css";
@import "status.css";
@import "scrollbar.css";
@import "sidebarServers.css";
@import "sidebarChannels.css";

:root {
	--color-serversBar: #202225;
	--color-channelsBar: #2f3136;
	--color-channelsBar-highlight: #34373c;
	--color-main: #36393f;
	--color-profile: #282A2E;

	--color-discord: #5865f2;
	--color-destaque: #3ba55d;

	--color-folder: #92a53b7a;
}

* {
	margin: 0;
	padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

	font-size: 16px;

	display: flex;

    overflow: hidden;
}

main{
	flex-grow: 1;
	height: 100%;
	background-color: var(--color-main);
}

.contentMain{
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--color-destaque);

	font-size: 5em;
	font-weight: bold;
}