/* width */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track{
    background-color:#2E3338;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #202225;
    border-radius: 2em;
}
