#wrapperServers {
	min-width: 4.5em;
	max-height: 100vh;
	overflow: auto;
	
	background-color: var(--color-serversBar);
}

#wrapperServers::-webkit-scrollbar {
	display: none;
}

#sidebarServers {
	width: 4.5em;
	padding: 0.75em 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
}

#home {
	background-color: var(--color-discord);
	width: 3em;
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 2em;

	position: relative;
}

#home svg {
	color: white;
}

#servers {
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 0.5em;

	align-items: center;
}

.serverIcon {
	width: 3rem;
	height: 3rem;

	border-radius: 2em;

	background-color: var(--color-channelsBar-highlight);

	position: relative;

	overflow: hidden;

	transition: border-radius 300ms ease, background-color 300ms ease;
}

.serverIcon svg {
	transition: color 300ms ease;
}

.serverIcon:hover {
	border-radius: 1em;

	background-color: var(--color-destaque);
}

.serverIcon:hover svg {
	color: white;
}

.serverIcon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#newServer,
#searchServers {
	color: var(--color-destaque);

	display: flex;
	justify-content: center;
	align-items: center;
}

/* OPCOES */
.divisionLineH {
	background-color: #ffffff0f;
	width: 100%;
	max-width: 2em;
	height: 2px;
}

.serverActive {
	border-radius: 1em !important;
	position: relative;
	background-color: var(--color-destaque);
}

.serverActive::before {
	content: "";

	position: absolute;

	left: -1em;

	width: 0.5em;
	height: 2.5em;

	border-radius: 1em;

	background-color: white !important;
}
