.statusOn {
	position: absolute;

	width: 10px;
	height: 10px;

	background-color: #389d58;
	border-radius: 2em;

	right: 0;
	bottom: 0;
}

.statusOff {
	position: absolute;

	width: 10px;
	height: 10px;

	background-color: #6d7884;
	border-radius: 2em;

	right: 0;
	bottom: 0;
}

.statusOff:after {
	content: "";
	position: absolute;

	background-color: #2f3136;
	border-radius: 2em;

	width: 6px;
	height: 6px;

	top: 50%;
	left: 50%;

	margin-left: -3px;
	margin-top: -3px;
}

.statusDND {
	position: absolute;

	width: 10px;
	height: 10px;

	background-color: #da3d40;
	border-radius: 2em;

	right: 0;
	bottom: 0;
}

.statusDND:after {
	content: "";
	position: absolute;

	background-color: #2f3136;
	border-radius: 1em;

	width: 6px;
	height: 2px;

	top: 50%;
	left: 50%;

	margin-left: -3px;
	margin-top: -1px;
}
