:root {
	--color-serversBar: #202225;
	--color-channelsBar: #2f3136;
	--color-channelsBar-highlight: #34373c;
	--color-main: #36393f;
	--color-profile: #282a2e;

	--color-discord: #5865f2;
	--color-destaque: #3ba55d;

	--color-folder: #92a53b7a;
}